@import "blocks/page-header";

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

a {
  text-decoration: none;
}